body{
  background-color:rgb(227, 240, 197)
}
.div1{
  margin:20px;
  padding:20px;
  border:2px solid black;
  text-align: center;
  background-color: aqua;
}
.div2{
  margin:20px;
  padding:20px;
  border:2px solid black;
  text-align: center;
  background-color: aqua;
}
.div3{
  margin:20px;
  padding:20px;
  border:2px solid black;
  text-align: center;
  background-color: aqua;
}
.div4{
  margin:20px;
  padding:20px;
  border:2px solid black;
  text-align: center;
  background-color: aqua;
}.div5{
  margin:20px;
  padding:20px;
  border:2px solid black;
  text-align: center;
  background-color: aqua;
}